<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin
   id="nl.ou.refactoring.advice.eclipse"
   name="Open Universiteit Refactoring Advice through Knowledge Graphs Eclipse Plug-in"
   version="0.7.0.qualifier"
   provider="Open Universiteit">

   <!-- Dependencies (Required Plug-ins) -->
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.swt"/>
   </requires>
   <extension-point id="org.eclipse.ui.menus" name="Add a context menu item for Java elements" schema="schema/org.eclipse.ui.menus.exsd"/>
   
   <!-- Context Menu Extension for Java Elements -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaElement"
            id="nl.ou.refactoring.advice.eclipse.javaElementContribution">
         <menu
               label="Refactoring Advice"
               path="additions"
               id="nl.ou.refactoring.advice.eclipse.refactoringMenu">
            <separator name="refactoringGroup"/>
         </menu>
         <action
               label="Show Refactoring Advice"
               class="nl.ou.refactoring.advice.eclipse.ShowRefactoringAdviceAction"
               menubarPath="nl.ou.refactoring.advice.eclipse.refactoringMenu/refactoringGroup"
               enablesFor="1"
               id="nl.ou.refactoring.advice.eclipse.showRefactoringAdviceAction">
         </action>
      </objectContribution>
   </extension>

</plugin>