<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.40"?>
<plugin>
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?additions">
         <menu
               id="nl.ou.refactoring.advice.submenu"
               label="Refactoring Advice">
            <visibleWhen checkEnabled="false">
               <or>
                  <with variable="selection">
                     <iterate ifEmpty="false">
                        <adapt type="org.eclipse.jdt.core.IJavaElement"/>
                     </iterate>
                  </with>
                  <with variable="activeEditorId">
                     <or>
                        <equals value="org.eclipse.jdt.ui.CompilationUnitEditor"/>
                        <equals value="org.eclipse.jdt.ui.ClassFileEditor"/>
                     </or>
                  </with>
               </or>
            </visibleWhen>
            <dynamic
                  id="nl.ou.refactoring.advice.dynamicItems"
                  class="nl.ou.refactoring.advice.eclipse.contextMenu.refactorings.RefactoringsSubmenuContribution"/>
         </menu>
      </menuContribution>
   </extension>
</plugin>
